<div class="container mt-3">
    <div *ngFor="let bill of bills">
        <button type="button" class="btn btn-secondary card-width w-100" data-toggle="collapse" attr.data-target="#demo{{bill.id}} ">
            <div class="row bg-secondar text-white">
                <div class="col-3"> {{bill.id}} </div>
                <div class="col-5"> Date: {{bill.date}}</div>
                <div class="col-4"> Rs.{{bill.amount}}</div>
            </div>
        </button>

        <div id="demo{{bill.id}}" class="collapse">
            <div classs="container">
                <div class="row">
                    <div class="col">
                        <h3>Bill</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>eMart Services</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        contact us:{{buyerContact}}
                    </div>
                    <div class="col">
                        Buyer Name:{{buyerName}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Date{{buyerDate}}
                    </div>
                    <div class="col">
                        Buyer ID:{{buyerId}}
                    </div>
                </div>
                <div class="table-responsive m-5">
                    <table class="table table-striped card-width ">
                        <table class="table card-width">
                            <thead>
                                <tr>
                                    <th>Item ID</th>
                                    <th>Particulars</th>
                                    <th> Quantity</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of  bill.item">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>1</td>
                                    <td> {{item.price}}</td>
                                    <td>Rs{{item.price}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td> </td>
                                    <td></td>
                                    <td>
                                        <h5>Amount</h5>
                                    </td>
                                    <td>Rs{{bill.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </table>
                </div>        
            </div>
        </div>
    </div>
</div>