<div class="container-fluid pt-5 ">
    <div class="row ">
        <div class="col">
        </div>
        <div class="col">
            <div class="card ">
                <div class="card-header text-center">
                    <h4>REGISTER</h4>
                </div>
                <div class="card-body">
                    
                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="id">SellerID</label>
                                    <input type="text" class="form-control " id="ID" placeholder="sellerid" name="id" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="username">SellerName</label>
                                    <input type="text" class="form-control " id="username" placeholder="username"
                                        name="username" />
                                </div>
                            </div>
                            <div class="col ">
                                <div class="Form-group mx-2 my-3">
                                    <label for="company name">Company name</label>
                                    <input type="text" class="form-control " id="cname" placeholder="company name"
                                        name="company name" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="pass">Password</label>
                                    <input type="password" class="form-control " id="password" placeholder="password"
                                        name="password" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="pass">Confirm Password</label>
                                    <input type="password" class="form-control " id="password"
                                        placeholder="confirm password" name="password" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col ">
                                <div class="Form-group mx-2 my-3">
                                    <label for="mail">Email</label>
                                    <input type="email" class="form-control " id="mail" placeholder="Email"
                                        name="email" />
                                </div>
                            </div>
                            <div class="col ">
                                <div class="Form-group mx-2 my-3">
                                    <label for="phno">Mobile Number</label>
                                    <input type="tel" class="form-control " id="phno" placeholder="mobile number"
                                        name="ph.no" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="about">About</label>
                                    <textarea class="form-control " id="about" placeholder="about company"
                                        name="aboutcompany"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="address">Postal address</label>
                                    <textarea class="form-control " id="address" placeholder="postal address"
                                        name="address"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="Form-group mx-2 my-3">
                                    <label for="gst">GSTIN</label>
                                    <input type="number" class="form-control " id="gstin" placeholder="gstin"
                                        name="gstno" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mx-2 my-2 float-right">REGISTER</button>
                        <label>Already have an accoumt?</label>
                        <a routerLink="/login">Login</a>
                    
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
