<!--<app-item-list></app-item-list>-->
<nav class="navbar navbar-expand-md bg-lighter navbar-dark">
  <a class="navbar-brand ml-0 text-black" href="index.html">Excercises</a>
 <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon"></span>
 </button>
   
</nav>
<nav  class="navbar navbar-expand-lg navbar-light " style="background-color:rosybrown;font-weight: bold;">  
<a class="navbar-brand" href="#">
 </a>
 <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
   <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/item-list">Item-List</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link active" routerLink="/cart-list">Cart-List</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" routerLink="/bill-view">Bill-View</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" routerLink="/bill-list">Bill-List</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link active" routerLink="">logout</a>
    </li>
    
   </ul>
 </div>  
</nav>
<router-outlet></router-outlet>
